.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store

data/raw/
data/interim/
data/processed/

.env
*.json
.kaggle/
.cache/

dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/
dbt/**/.user.yml

reports/figures/*.html
